@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#015958;
    background-color: #fff;
}

h1,
h2 {
    font-family: 'Special Elite', sans-serif;
    color: #015958;
}

h3 {
    font-family: 'Barlow', sans-serif;
    color: #023535;
}

/* -----------------------------------------------logo */

header {
    background-color: #fff;
    width: 100%;
    height: 75px;
    top: 0;
    margin-bottom: 10px;
    position: fixed;
    z-index: 1;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    color: #023535;
}

/* -----------------------------------------------nav links */
#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #023535;
}
 
#logo  {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 3px solid #0CABA8;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid #015958;   
}

/* -----------------------------------------------Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/group-friends.jpg') no-repeat center center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#hero-text, #hero-text h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#hero-text {
    color: #023535;
    font-size: 500%;
    text-align: center;
    width: 250px;
    height: 200px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 200px;
    right: 150px;
    position: absolute;
}

/* -----------------------------------------------Landing Page Links */
#landing-page-links {
    height: 200px;
    background-color: #fff;
}

#landing-circles {
    background-color: #0caba8;
}

.landing-container {
    margin: 10px 0;
    padding: 30px 10px
}

/*.page-section {
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 30px 0;
    padding-bottom: 20px;
}*/

.section-heading {
    color: #023535;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px 0;
    font-size: 200%;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-message {
    color: #023535;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px 0;
    font-size: 120%;
}
/* -----------------------------------------------Circles */
.circle {
    text-align: center;
}

.link-img-outer {
    height: 300px;
	width: 300px;
	border-radius: 50%;
    margin: 0 auto;
    padding: 15px;
    border: 10px solid #023535;
}

.fade {
    height: 250px;
    width: 250x;
    border-radius: 50%;
    opacity: 1;
}

.fade:hover {
    background: rgba(1, 89, 88, 0.7);
    opacity: 1;
}

.hover-text {
    color: #fafafa;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 200%;
    text-align: center;
    opacity: 0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
}

.hover-text:hover {
    opacity: 1;
}

.hover-text a {
    text-decoration: none;
}

#meetings {
    background: url(../images/meeting.jpg);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: bottom center; /*tutorial https://stackoverflow.com/questions/32477563/how-can-i-fit-images-into-circles-without-stretching */  
}

#events {
    background: url(../images/events.jpg);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: left center;
}

#contact {
    background: url(../images/contact.jpg);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: bottom center; 
}
/* -----------------------------------------------Meeting Page */

#meeting-hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/woods.jpg') no-repeat center center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.col-extra-padding {
    padding: 25px;
}

.meeting-image {
    min-height: 230px;
    background: url('../images/meeting.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}

.join-image {
    min-height: 230px;
    background: url('../images/group-friends.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}

.badge-image {
    min-height: 230px;
    background: url('../images/badge.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}


/* -----------------------------------------------Footer */


footer {
    /* gradient colour made using tutorial from W3Schools */
    background-image: linear-gradient(to bottom right, #015958, #0caba8);
    color:#fafafa;
    min-height: 150px;
    width: auto;
}

.footer-headings {
    color: #fafafa;
    font-family: 'Special Elite', sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.list-contact {
    list-style-type: none;
}

.list-contact-item {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

.list-contact-item > a {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

.list-contact-item > a:visited {
    color: #132b40;
}

.list-contact-item > a:hover {
    color: #fafafa;
    text-decoration: none;
}

.list-contact-icon {
    margin: 0 10px;
    font-size: 25px;
    color: #132b40;
    padding: 1.5%;
}

.social-media-icon {
    margin: 0 10px;
    font-size: 32px;
    color: #132b40;
    padding: 1.5%;
    margin-left: 20px;
}

.social-media-hover i:hover {
    color: #fafafa;
}