@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #023535;
    background-color: #fff;
    text-align: center;
}

h1,
h2 {
    font-family: 'Special Elite', sans-serif;
    color: #023535;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #023535;
}

.container {
    background-color: #fff;
}

/* Header & Nav Bar */

header {
    margin: 0;
}

.navbar-brand {
    margin: 0;
}

.logo {
    font-family: 'Special Elite', sans-serif;
    color: #023535;
    margin: 20px;
    font-size: xx-large;
    text-decoration: none;
}

#page-top {
    padding-top: 4px;
}


/* nav links */
/* Hover classes sourced from Stack Overflow article (see README)*/

.navbar-light .navbar-nav .nav-link {
    color: #023535;
}

.nav-link {
    padding: 0.2rem 1rem;
    margin: 0.3rem;
    border-bottom: 2px solid transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-link:hover {
    border-color: #132b40;
}

.active .nav-link {
    border-bottom: 2px solid transparent;
    color: #023535;
    border-color: #015958;
}
/* end Hover classes */

/*new hero image*/
.hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.heroimage {
    width:100%;
    height:400px;
    background: url('../images/desktop_group.png') no-repeat center center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Circles on Home Page*/ 
#landing-circles {
    background-color: #fff;
}

#circle {
    text-align: center;
}

.link-img-outer {
    height: 300px;
	width: 300px;
	border-radius: 50%;
    margin: 10px auto;
    padding: 15px;
    border: 10px solid #023535;
}

.fade {
    height: 250px;
    width: 250x;
    border-radius: 50%;
    opacity: 1;
}

.fade:hover {
    background: rgba(1, 89, 88, 0.7);
    opacity: 1;
}

.hover-text {
    color: #fafafa;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 200%;
    text-align: center;
    opacity: 0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
}

.hover-text:hover {
    opacity: 1;
}

.hover-text a {
    text-decoration: none;
}

#meetings {
    background: url(../images/mobile_tent.png);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: left center;  
}

#events {
    background: url(../images/mobile_canoe2.png);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: left center;
}

#contact {
    background: url(../images/mobile_contact_us1.png);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: bottom center; 
}
/* End of Circles on Home Page*/ 

/* Meeting Page */
/* hero image */
.meet-image {
    width:100%;
    height:400px;
    background: url('../images/desktop_tent.png') no-repeat center center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.meeting-content {
    text-align: justify;
}

/* Map */
.map-responsive{
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-contact-icon {
    margin: 0;
    font-size: 25px;
    color: #132b40;
    padding: 1.5%;
    float: right;
}

/* Events Page */

/*new hero image*/
.events-image {
    width:100%;
    height:400px;
    background: url('../images/desktop_canoe.png') no-repeat center center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Contact Us page */
#contact-us-section {
    background-size: cover;
    background-position: center;
    height: 785px;
    background-image: url('../images/mountain_wide.png');
    margin: 0 0;
}

.form-section {
    display: block;
    text-align: center;
}

.form-area {
    color: #132b40;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    padding: 30px;
    display: inline-block;
    margin-top: 100px
}

.text-input {
    background: inherit;
    color: #132b40;
    width: 100%;
    height: 25px;
    margin:  5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #132b40;
    color: #023535;
}

#message_area {
    background: inherit;
    width: 100%;
    color: #132b40;
    margin: 5px 0 20px 0;
    text-align: center;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#message_area::placeholder {
    color: #023535;
    font-size: small;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #023535;
    color: #fafafa;
    display: inline-block;
}

.send-button:hover {
    background-color: #015958;
    color: #fff;
}

/* Footer */
.footer {
    background-image: linear-gradient(to bottom right, #013b3a, #57a3a1);
    padding: 10px;
    color: #fff;
    }

.footer-headings {
    color: #fff;
    font-family: 'Special Elite', sans-serif;
}

.list-contact-icon {
    margin: 0 10px;
    font-size: 30px;
    color: #132b40;
    padding: 1.5%;
}

.social-media-icon {
    font-size: 30px;
    color: #132b40;
    padding: 1.5%;
    margin: 0;
}

.social-media-hover i:hover {
    color: #fafafa;
}

/* Media Queries */
/* SM, Tablet View - For screen size smaller than 900px*/
@media screen and (max-width: 900px) {
    .form-area {
        margin-top: 120px;
    } 
}

/* Small, SmartPhone View -For screen size smaller than 576px */
@media screen and (max-width: 576px){
    /*new hero images*/
    .hero-outer {
        height: 175px;
    }
    
    .heroimage {
        height: 175px;
    }

    .meet-image {
        height: 175px;
        background: url('../images/desktop_tent.png') no-repeat left center;
    }

    .events-image {
        height: 175px;
    }/*hero image end*/

    .footer-headings {
        display: none;
    }
    .social-media-icon {
        margin: 10px;
        font-size: 30px;
    }

    .list-contact-icon {
        display: none;
    }

    .map-contact-icon {
        display: none;
    }
}

/* X-Small, SmartPhone View -For screen size smaller than 493px */
@media screen and (max-width: 493px) {
    iframe.center {
        height: 100%;
        width: 100%;
      }
} 
