@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    color:#015958;
    background-color: #57a3a1;
}

h1,
h2 {
    font-family: 'Special Elite', sans-serif;
    color: #023535;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #023535;
}
.container {
    background-color: #fff;
}

/* logo */

header {
    background-color: #fff;
    width: 100%;
    top: 0;
    margin-bottom: 30px;
    position: fixed;
    z-index: 1;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    color: #023535;
    margin-top: 10px;
}

/* nav links */
#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #023535;
}
 
#menu,
#logo  {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 3px solid #57A3A1;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid #015958;   
}

/* Hero Image */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/desktop_group.png') no-repeat center center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#hero-text h3 {
    letter-spacing: 1px;
}

#hero-text {
    color: #023535;
    font-size: 500%;
    text-align: center;
    width: 250px;
    height: 200px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 80px;
    right: 150px;
    position: absolute;
}

/* Landing Page message */
#landing-page {
    height: 200px;
    background-color: #fff;
}

.landing-container {
    margin: 10px 0;
    padding: 30px 10px
}

/*.section-heading {
    color: #023535;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px 0;
    font-size: 200%;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}*/

.welcome-section-heading{
    font-size: 200%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.welcome-message {
    color: #023535;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px 0;
    font-size: 150%;
    padding-left: 30px;
    padding-right: 30px;
}

/* Circles */
#landing-circles {
    background-color: #57a3a1;
}

#circle {
    text-align: center;
}

.link-img-outer {
    height: 300px;
	width: 300px;
	border-radius: 50%;
    margin: 0 auto;
    padding: 15px;
    border: 10px solid #023535;
}

.fade {
    height: 250px;
    width: 250x;
    border-radius: 50%;
    opacity: 1;
}

.fade:hover {
    background: rgba(1, 89, 88, 0.7);
    opacity: 1;
}

.hover-text {
    color: #fafafa;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 200%;
    text-align: center;
    opacity: 0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
}

.hover-text:hover {
    opacity: 1;
}

.hover-text a {
    text-decoration: none;
}

#meetings {
    background: url(../images/meeting.jpg);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: bottom center;  
}

#events {
    background: url(../images/events.jpg);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: left center;
}

#contact {
    background: url(../images/contact.jpg);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: bottom center; 
}

/* Meeting Page */
#meeting-hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/desktop_tent.png') no-repeat top center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.meeting-info {
    padding-top: 10px;
    background-color: #fff;
}

#meeting-information {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}
.meeting-heading {
    color: #023535;
    margin: 30px 0;
    font-size: 200%;
    margin-top: 10px;
    padding-top: 20px;
}

.meeting-content {
    color: #023535;
    margin: 30px 0;
    font-size: 120%;
}

.meeting-location {
    color: #023535;
    margin: 0;
    font-size: 120%;
}
/* Map */
.map-responsive{
    overflow:hidden;
    padding-bottom: 30%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map-contact-icon {
    margin: 0 10px;
    font-size: 25px;
    color: #132b40;
    padding: 1.5%;
    float: right;
}

.meeting-image {
    min-height: 230px;
    background: url('../images/meeting.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}

.join-image {
    min-height: 230px;
    background: url('../images/group-friends.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}

.badge-image {
    min-height: 230px;
    background: url('../images/badge.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}

/* Events Page */
.events-info {
    padding-top: 10px;
}

#events-hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/desktop_canoe.png') no-repeat center center;
    background-size: cover;
    margin: auto;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Contact Us page */
#contact-us-section {
    background-size: cover;
    background-position: center;
    height: 785px;
    background-image: url('../images/mountain_wide.png');
    margin: 0 0;
}

.form-section {
    display: block;
    text-align: center;
}

.form-area {
    color: #132b40;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    padding: 30px;
    display: inline-block;
    margin-top: 100px
}

.form-area h3 {
    color: #023535;
}

.text-input {
    background: inherit;
    color: #132b40;
    width: 100%;
    height: 25px;
    margin:  5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #132b40;
    color: #023535;
}

#message_area {
    background: inherit;
    width: 100%;
    color: #132b40;
    margin: 5px 0 20px 0;
    text-align: center;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#message_area::placeholder {
    color: #023535;
    font-size: small;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #023535;
    color: #fafafa;
    display: inline-block;
}

.send-button:hover {
    background-color: #015958;
    color: #fff;
}

/* Footer */
.footer {
    background-image: linear-gradient(to bottom right, #013b3a, #57a3a1);
    color:#fafafa;
    padding: 10px;
    }

.footer-headings {
    color: #fafafa;
    font-family: 'Special Elite', sans-serif;
    font-size: 150%;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.list-contact-icon {
    margin: 0 10px;
    font-size: 25px;
    color: #132b40;
    padding: 1.5%;
}

.social-media-icon {
    margin: 0 10px;
    font-size: 20px;
    color: #132b40;
    padding: 1.5%;
    margin-left: 20px;
}

.social-media-hover i:hover {
    color: #fafafa;
}

/* Media Queries */
/* SM, Tablet View - For screen size smaller than 900px*/
@media screen and (max-width: 900px) {
    header {
        height: 100px;
        width: 100%;
        margin-bottom: 0;
    }

    #logo {
        font-size: 200%;
    }

    #menu {
        font-size: 80%;
        float: right;
        margin-left: 10px;
        margin-bottom: 0;
        margin-right: 15px;
        padding-bottom: 0;
    }
    
    #menu,
    #logo  {
        line-height: 75px;
    }

    #menu li {
        padding: 0;
        margin: 10px;
    }

    /*hero images*/
    #hero-outer {
        height: 400px;
        width: 100%;
    }
    
    #hero-image {
        height: 400px;
        width: 100%;
        background: url('../images/mobile_group.png') no-repeat center center;
        width: 100%;
        background-size: cover;
        margin: auto;
    }

    #meeting-hero-image {
        height: 400px;
        background: url('../images/mobile_tent.png') no-repeat right top;
        width: 100%;
        background-size: cover;
        margin: auto;
    }

    #events-hero-image {
        height: 400px;
        background: url('../images/mobile_canoe.png') no-repeat top center;
        width: 100%;
        background-size: cover;
        margin: auto;
    }
    
    #landing-page {
        height: 150px;
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }
    .welcome-section-heading{
        font-size: 175%;
        padding-top: 10px;
        text-align: center;
    }

    .welcome-message {
        font-size: 100%;  
    }

    .section-heading {
        font-size: 150%;
        margin-top: 10px;
        padding: 0;
    }   
    
    .link-img-outer {
        height: 250px;
        width: 250px;
        margin: 10px auto;
        padding: 10px;
        border: 5px solid #023535;
    }
    
    .fade {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        opacity: 1;
    }
    
    #hero-text {
        bottom: 60px;
        right: 80px;
        width: 190px;
        height: 150px;
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 140%;
    }
    #hero-text h3 {
        font-size: 100%;
    }

    .form-area {
        margin-top: 120px;
    }

    #meeting-information {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
    }

    .meeting-heading {
        color: #023535;
        margin: 30px 0;
        font-size: 150%;
        margin-top: 5px;
        padding-top: 5px;
    }
    
    .meeting-content {
        color: #023535;
        margin: 30px 0;
        font-size: 100%;
    }   
    
    .social-media-icon {
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin: 0;
    }

    .footer {
        height: 180px;
    }
}

/* X-Small, SmartPhone View -For screen size smaller than 493px */
@media screen and (max-width: 493px){
    header {
        height: 100px;
        width: 100%;
    }

    #logo {
        font-size: 175%;
        float: none;
        margin-left: 20px;
        text-align: center;
    }
    
    #menu,
    #logo  {
        line-height: 30px;
    }

    #menu {
        font-size: 90%;
        float: right;
        margin-left: 10px;
        margin-right: 70px;
    }
        
    #menu li {
        padding: 0;
        margin: 12px;
    }

    /*hero images*/
    #hero-outer {
        height: 250px;
    }
    
    #hero-image {
        height: 250px;
        width: 100%;
        background: url('../images/mobile_group.png') no-repeat center center;
        background-size: cover;
    }

    #hero-text {
        display: none;
    }

    #meeting-hero-image {
        height: 250px;
        background: url('../images/mobile_tent.png') no-repeat top center;
        width: 100%;
        margin: auto;
    }

    #events-hero-image {
        height: 250px;
        background: url('../images/mobile_canoe.png') no-repeat top center;
    }

    #landing-page {
        height: 130px;
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }

    .welcome-section-heading{
        font-size: 150%;
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .welcome-message {
        font-size: 100%;
        margin: 0;  
    }

    .section-heading {
        font-size: 175%;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0;
    }
    .meeting-info {
        padding-top: 10px;
        background-color: #fff;
    }
    
    #meeting-information {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
    }
    .meeting-heading {
        color: #023535;
        margin: 30px 0;
        font-size: 100%;
        margin-top: 10px;
        padding-top: 0px;
    }
    
    .meeting-content {
        color: #023535;
        margin: 30px 0;
        font-size: 100%;
    }  

    .map-contact-icon {
        margin: 0;
        font-size: 25px;
        color: #132b40;
        padding-left: 15px;
        float: left;
    }

    .social-media-icon {
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin: 0;
    }

    .contact {
        display: none;
    }

    .footer-headings {
        display: none;
    }

    .footer {
        padding: 10px;
        height: 60px;
    }

    .social {
        text-align: center;
    }
    
    .link-img-outer {
        margin: 10px auto;
    }

    .events-info h2,
    .meeting-info h2 {
        font-size: 150%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .events-info p,
    .meeting-info p {
        font-size: 100%;
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .badge-image,
    .join-image,
    .meeting-image {
        display: none;
    }

    iframe.center {
        height: 100%;
        width: 100%;
      }
} 

/* XX-Small SmartPhone View- For screen size smaller than 375px*/
@media screen and (max-width: 375px){
    header {
        height: 100px;
        width: 100%;
        text-align: center;
    }

    #logo {
        font-size: 130%;
        float: none;
        margin: 0;
    }

    #menu {
        font-size: 70%;
        float: none;
        margin-left: 10px;
        margin-right: 30px;
    }
    
    #menu li {
        padding: 0;
        margin: 12px;
    }

    #menu,
    #logo  {
        line-height: 40px;
    }

    #landing-page {
        height: 130px;
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }

    .welcome-section-heading{
        font-size: 140%;
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .welcome-message {
        font-size: 90%;
        margin: 0; 
        padding-left: 10px;
        padding-right: 10px; 
    }
    /*hero images*/
    #hero-outer {
        height: 250px;
    }
    
    #hero-image {
        height: 250px;
        width: 100%;
        background: url('../images/mobile_group.png') no-repeat center center;
        background-size: cover;
    }

    #meeting-hero-image {
        height: 250px;
        background: url('../images/mobile_tent.png') no-repeat top center;
        width: 100%;
        margin: auto;
    }

    #events-hero-image {
        height: 250px;
        background: url('../images/mobile_canoe.png') no-repeat top center;
    }
    
    .meeting-info {
        padding-top: 10px;
        background-color: #fff;
    }
    
    #meeting-information {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
    }

    .meeting-heading {
        color: #023535;
        margin: 00;
        font-size: 200%;
        margin-top: 0;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .meeting-content {
        color: #023535;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 100%;
    } 
    
}

/* XXX-Small SmartPhone View -For screen size smaller than 325px*/
@media screen and (max-width: 325px) {
    header {
        height: 80px;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-top: 10px;
    }

    #logo {
        font-size: 110%;
        float: none;
        height: 30px;
    }

    #menu {
        font-size: 70%;
        float: left;
        margin-left: 10px; 
        margin-bottom: 0;
        padding: 0;
    }

    #menu li {
        padding: 0;
        margin: 12px;
    }

    #menu,
    #logo  {
        line-height: 20px;
        padding: 0;
        margin: 0;
    }

    .welcome-section-heading{
        font-size: 130%;
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .welcome-message {
        font-size: 80%;
        margin: 0;  
    }

    /*hero images*/
    #hero-outer {
        height: 250px;
    }

    #hero-image {
        height: 250px;
        width: 100%;
        background: url('../images/mobile_group.png') no-repeat center center;
        background-size: cover;
    }

    #meeting-hero-image {
        height: 250px;
        background: url('../images/mobile_tent.png') no-repeat top left;
        width: 100%;
        margin: auto;
    }

    #events-hero-image {
        height: 250px;
        background: url('../images/mobile_canoe.png') no-repeat top center;
    }

    .meeting-info {
        padding-top: 10px;
        background-color: #fff;
    }
    
    #meeting-information {
        padding: 0;
        background-color: #fff;
    }
    .meeting-heading {
        color: #023535;
        margin: 00;
        font-size: 150%;
        margin-top: 0;
        padding: 0;
    }
    
    .meeting-content {
        color: #023535;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 80%;
        padding: 0;
    } 
    
    .events-info h2,
    .meeting-info h2 {
        font-size: 120%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .events-info p,
    .meeting-info p {
        font-size: 80%;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}
